In [ ]:
import sqlite3
import pandas as pd

In [ ]:
con = sqlite3.connect('cap12_dsa.db')

In [ ]:
cursor = con.cursor()

In [ ]:
sql_query = """SELECT name FROM sqlite_master WHERE type = 'table';"""

In [ ]:
cursor.execute(sql_query)

In [ ]:
print(cursor.fetchall())

In [ ]:
query1 = 'SELECT * FROM tb_vendas_dsa'

In [ ]:
cursor.execute(query1)

In [ ]:
nomes_colunas = [description[0] for description in cursor.description]

In [ ]:
print(nomes_colunas)

In [ ]:
dados = cursor.fetchall()

In [ ]:
dados

In [ ]:
query2 = 'SELECT AVG(Unidades_Vendidas) FROM tb_vendas_dsa'

In [ ]:
cursor.execute(query2)

In [ ]:
print(cursor.fetchall())

In [ ]:
query3 = 'SELECT Nome_Produto, AVG(Unidades_Vendidas) FROM tb_vendas_dsa GROUP BY Nome_Produto'

In [ ]:
cursor.execute(query3)

In [ ]:
cursor.fetchall()

In [ ]:
query4 = """SELECT Nome_Produto, AVG(Unidades_Vendidas)
          FROM tb_vendas_dsa
          WHERE Valor_Unitario > 199
          GROUP BY Nome_Produto"""

In [ ]:
cursor.execute(query4)

In [ ]:
cursor.fetchall()

In [ ]:
query5 = """SELECT Nome_Produto, AVG(Unidades_Vendidas)
          FROM tb_vendas_dsa
          WHERE Valor_Unitario > 199
          GROUP BY Nome_Produto
          HAVING AVG(Unidades_Vendidas) > 10"""

In [ ]:
cursor.execute(query5)

In [ ]:
cursor.fetchall()

In [ ]:
cursor.close()
con.close()

In [ ]:
con = sqlite3.connect('cap12_dsa.db')

In [ ]:
cursor = con.cursor()

In [ ]:
query = 'SELECT * FROM tb_vendas_dsa'

In [ ]:
cursor.execute(query)

In [ ]:
dados = cursor.fetchall()

In [ ]:
dados

In [ ]:
df = pd.DataFrame(dados, columns = ['ID_PEdiddo',
                                    'ID_Cliente',
                                    'Nome_Produto',
                                    'Valor_Unitario',
                                    'Unidades_Vendidas',
                                    'Custo'])

In [ ]:
df.head()

In [ ]:
cursor.close()
con.close()

In [ ]:
media_unidades_vendidas = df['Unidades_Vendidas'].mean()

In [ ]:
print(media_unidades_vendidas)

In [ ]:
media_unidades_vendidas_por_produto = df.groupby('Nome_Produto')['Unidades_Vendidas'].mean()

In [ ]:
print(media_unidades_vendidas_por_produto.head(10))

In [ ]:
df[df['Valor_Unitario'] > 199].groupby('Nome_Produto')['Unidades_Vendidas'].mean()

In [ ]:
df[df['Valor_Unitario'] > 199].groupby('Nome_Produto').filter(lambda x: x['Unidades_Vendidas'].mean() > 10)

In [ ]:
df[df['Valor_Unitario'] > 199].groupby('Nome_Produto') \
                              .filter(lambda x: x['Unidades_Vendidas'].mean() > 10) \
                              .groupby('Nome_Produto')['Unidades_Vendidas'].mean()